name: Build Frontend Image

on:
  push:
    branches: [ "main" ]
    paths:
      - "frontEnd/**"

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push frontend image
        run: |
          docker build -t ghcr.io/antonswarts15/eduthrift-frontend:latest ./frontEnd
          docker push ghcr.io/antonswarts15/eduthrift-frontend:latest
